lmp_config:
  env:
    # map_size: 100
    # num_waypoints_per_plan: 10000  # set to a large number since we only do open loop for sim
    # max_plan_iter: 1
    # visualize: True
  lmps:
    coder: # high-level interpreter
      name: 'coder'
      model: 'llama3-8B-instruct-official-fineTuned'
      adapter:  # leave empty if no adapter is used
      max_new_tokens: 512
      sys_prompts: 'coder_sys_prompt.txt'
      user_prompts: 'coder_user_prompt.txt'
      load_in_4bit: True
      # use_cuda: True
      # max_gen_length: 100

      #test
      # sys_prompts: 'test_sys.txt'
      # user_prompts: 'test_user.txt'

    planner: # low-level planner
      name: 'planner'
      model: 'llama3-8B-instruct-official-fineTuned'
      adapter:  # leave empty if no adapter is used
      max_new_tokens: 512
      load_in_4bit: True
      sys_prompts: 'planner_sys_prompt.txt'
      user_prompts: 'planner_user_prompt.txt'
    
    arm: # low-level executor
      name: 'arm'
      model: 'llama3-8B-instruct-official-fineTuned'
      adapter:  # leave empty if no adapter is used
      max_new_tokens: 512
      load_in_4bit: True
      sys_prompts: 'arm_sys_prompt.txt'
      user_prompts: 'arm_user_prompt.txt'